
// Configuration for variables

// Colors
$lochmara: rgb(0, 123, 203);

// Background
$page__background: #fff url("../images/paper.png");

// Fonts
$base__font-family: "Open Sans", Helvetica, sans-serif;
$heading__font-family: Georgia, "Times New Roman", serif;
$base__font-size: 16px;
$base__line-height: 24px;
$base__color: black;