
// Styles for Various Images

.landing-large {
	display: block;
	margin-top: em(70px);
}

#bioPic {
	display: inline-block;
}

#bioPic > img {
	width: 300px;
}


// Media Queries

@media (min-width: 768px) {

	.landing-large {
		margin-top: 0;
	}

}